#root {
  text-align: center;
}

.disconnect-button {
  background-color: #c53030;
  color: white;
  width: 200px;
}

.disconnect-button:hover {
  background-color: #9b2c2c;
}

.motor-controls-container {
  display: grid;
  gap: 20px;
  max-width: 1400px;
  margin: 30px auto;
}

@media (prefers-color-scheme: light) {
  .disconnect-button {
    background-color: #e53e3e;
  }

  .disconnect-button:hover {
    background-color: #c53030;
  }
}
